@use '../../../styles' as *;

:host {
  main {
    margin-bottom: 4rem;
  }

  section {
    margin: 2rem 0;
  }

  p {
    margin-top: 1rem;
    text-indent: 2em;
  }

  .go-back {
    margin: 1.5rem 0;
    display: flex;
    gap: 0.5rem;

    a, i:before {
      color: rgb(96, 96, 96);
    }
  }
}
