@use '../../../../styles' as *;

:host {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 7.5rem;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    &-text {
      color: rgb(96, 96, 96);
      font-size: 1.3rem;
      font-weight: normal;
      text-align: center;

      @media (min-width: $breakpoint-lg) {
        font-size: 1.5rem;
        line-height: 1.2;
      }
    }
  }
}
